#style.css
*{
  box-sizing: border-box;
}
html{
  font-size: 14px;
  font-family: sans-serif;
  background-color: rgb(0,0,0);
  background:url(background.jpg);
  background-repeat: no-repeat;
  background-size: 200%;

  color: #FEFEFE;
}
a{
  color: #FF0042;
  font-weight: bolder;
  text-decoration: none;
}
h3{
  font-size: 16px;
  font-weight: bolder;
  text-align: top;
}
h1{
  font-size: 30px;
  font-weight: bolder;
  text-align: top;

  background-color: gray;
  padding: 10px;
  margin: 5px;

}
.logo{
  width: 70px;
  height: 40px;


}
.container
{
  margin:20px;
  padding:20px;
}
.subforum
{
  margin-top: 20px;
}
.subforum-title
{
  background-color: #292B2E;
  padding:10px;
  border-radius: 5px;
  margin: 4px;
}
.subforum-row{
  display: grid;
  grid-template-columns: 7% 60% 13% 20%;
}
.subforum-column
{
  padding:10px;
  margin:4px;
  border-radius: 5px;
  background-color: #111314;
}

.subforum-icon{
    padding:5px;
    margin: 4px;
  }
  .icon{
    width: 70px;
    height: 40px;
    padding: 20px;
}
footer{
  position: fixed;
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin: 5px;
  left: -10px;
         bottom: 0;
         width: 100%;

         /* Height of the footer*/
         height: 50px;
         background: grey;
}
