@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins" , sans-serif;
}
body {
background-color: #dbe5ff;
  font-size: 120%;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border-radius: 0px 0px 0px 0px;
}
.input-group {
  margin: 10px 0px 20px 0px;
}
.input-group2 {
  margin: 10px 0px 20px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 50px;
  width: 50%;
  padding: 5px 10px;
  font-size: 30px;
  border-radius: 0px;
  border: 1px solid #11101d;
  margin: auto auto auto auto;
  display: block;
    border-radius: 12px;
}
.input-group2 label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group2 input {
  height: 45px;
  width: 170%;
  padding: 10px 20px;
  font-size: 30px;
  border: 2px solid black;
  margin: auto auto auto auto;
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
    border-radius: 12px;
}
.btn {
  padding: 10px;
  width: 35%;
  font-size: 25px;
  color: black;
  background: #979797;
  border: none;
  border-radius: 12px;
  transition-duration: 0.25s
}
.btn{
    margin: 0px auto auto auto;
    display: block;
}
.btn:hover {
  background-color: #11101d;
  color: white;
}
.btn2 {
  padding: 10px;
  width: 150%;
  font-size: 25px;
  border: none;
  border-radius: 12px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  color: black;
  background: #979797;
 transition-duration: 0.25s;
}
.btn2{
    margin: 0px auto auto auto;
    display: block;
}
.btn2:hover {
  background-color: #11101d;
  color: white;
}
.nazad
{
  padding: 10px;
  width: 35%;
  font-size: 25px;
  color: white;
  background: #4b0082;
  border: none;
  border-radius: 5px;
  transition-duration: 0.25s
}

.nazad:hover {
  background-color: #8b008b;
  color: white;
}
.error {
  width: 100%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 0px;
}
.div
{
  width: 10%;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #360a8f;
  text-align: center;
}
.slideright {
  animation-duration: 0.9s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.div2 {
  position: relative;
  margin-top: 200px;
  margin-left: 50px;
  width: 25%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.slideright2 {
  animation-duration: 0.9s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
#right{    
  margin-top: 175px;
  margin-right: 200px;
 float: right;  
}
.img
{
  margin: 0 auto;
  max-width: 60%;
  max-height: 60%;
  display: block;
}